
body {
	font-family: 'Oxygen', serif;
	color: white;
	margin: 0;
	padding: 0;
	
}
.wrapper {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}
/*HAMBURGER*/
#sidr-show-hide {
  position: absolute;
  z-index: 2;
  left: .5em;
  top: .2em;
  color: white;
  font-size: 2.5em;
  opacity: .8;
}
#close { 
	float: right;
	font-size: 1.5em;
	margin: .5em;
	padding: 5px 9px;

}
.close { 
	float: right;
	font-size: 2em;
	margin: 1em;
	padding: 0px 6px;
}
/*SIDR*/
a {
	text-decoration: none;
	color: white;
}
li a {
	width: 100%;
	padding: .em .5em .5em 0;

}

li a:active  {
	background: white;
	color: black;
}

.places {
  list-style-type: none;
	margin: 0 0 0 2em;
	padding-top: 5em
	
}
li {
	width: 100%;
	padding: .6em 0;
	
}


/*different cities*/
section {
  min-height: 180%;
  position: absolute;
  width: 100%;
  background: peachpuff;
}

#portland{
    background: lightgreen;
}

#seattle{
   background: cornflowerblue; 
}

#spokane{
   background: coral; 
}

:target {
  z-index: 1;
}
.target {
	z-index: 2;
}
/*Minimal initial style of sidebar*/
.sidr {
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 16em;
    overflow-x: hidden;
    overflow-y: auto;
	background: #2c2c2c;
    opacity: .8;
	box-shadow: inset -20px -30px 100px -20px black;
    }

.left {
        left: -16em;
        right: auto;
}

/*initial section styling*/
.info {
	margin: 11em 0 0 0;
} 

h1 {
    
    margin: auto;
    position: absolute;
    top: 16em;
    right: 51%;
}



h3 {
    position: absolute;
    top: 12em;
    right: 25%;
    letter-spacing: 5px;
   
}

.temp {
	font-size: 4em;
	line-height: 1;
}
#city {
    position: absolute;
    top: 13.5em;
    right: 36%;
    font-size: 25px;
    letter-spacing: 3px;
}
.today {
    position: absolute;
    top: 19.7em;
    border: none;
    right: 21%;
}

section i:first-child {
  font-family: weather;
  font-size:15em;
  color: darkgrey; 
	position: absolute;
	right:25%;
    top: 4px;
	margin: 0;
    opacity: .8
}
/*-----forecast------*/
i {
  font-family: weather;
  font-size:3em;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none;
	color: white;
	margin-top: 4px;
}

figure {
    
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	margin: 8px 90px;
    opacity: .8;

    
    
}

.forecast {
	position: absolute;
    top: 530px;
    right: 75px;
    
}


.day1{
        position: absolute;
    top: -31px;
    right: -156px;
    letter-spacing: 3px;
}

.day2{
    position: absolute;
    top: 11px;
    right: -135px;
    letter-spacing: 3px;
}


.day3{
        position: absolute;
    top: 51px;
    right: -130px;
    letter-spacing: 3px;
}
/*-----lets get the weather--------*/
.geo {
    position: absolute;
    top: .01em;
    z-index: 1;
    background: transparent;
    width: 100%;
    padding: .8em;
    padding-top: 22px;
    text-align: right;
    font-family: 'Oxygen', serif;
    color: white;
    border: none;
    opacity: .8;
}


.geo:active {
	background: white;
	color: black;
}

/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

 
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

 .geo {
    position: absolute;
    top: 0.01em;
    z-index: 3;
    background: transparent;
    width: 100%;
    padding: .8em;
    padding-top: 22px;
    text-align: right;
    font-family: 'Oxygen', serif;
    color: white;
    border: none;
    opacity: .8;
    font-size: 27px;
}
    
    #sidr-show-hide {
    position: absolute;
    z-index: 4;
    left: .5em;
    top: .2em;
    color: white;
    font-size: 3.5em;
    opacity: .8;
}
    
    #city {
    position: absolute;
    top: 1.5em;
    right: 22%;
    font-size: 83px;
    letter-spacing: 12px;
}
    
    .today {
    position: absolute;
    top: 6.6em;
    border: none;
    right: 28%;
    font-size: 30px;
}
    
    h3 {
    position: absolute;
    top: 13em;
    font-size: 26px;
    right: 33%;
    letter-spacing: 5px;
}
    
    section i:first-child {
    font-family: weather;
    font-size: 30em;
    color: snow;
    position: absolute;
    right: 46%;
    top: 350px;
    margin: 0;
    opacity: 0.8;
}
    
    h1 {
    margin: auto;
    position: absolute;
    top: 11em;
    right: 8%;
    font-size: 3em;
}
    
    .day1 {
    position: absolute;
    top: 5em;
    right: -1.2em;
    font-size: 2.3em;
    letter-spacing: 12px;
}
    
    .day2 {
    position: absolute;
    top: 6.7em;
    right: .8em;
    font-size: 2.5em;
    letter-spacing: 12px;
}
    
    .day3 {
    position: absolute;
    top: 9em;
    right: 24px;
    font-size: 2.5em;
    letter-spacing: 12px;
}

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
.geo {
    position: absolute;
    top: 0.01em;
    z-index: 3;
    background: transparent;
    width: 100%;
    padding: .8em;
    padding-top: 22px;
    text-align: right;
    font-family: 'Oxygen', serif;
    color: white;
    border: none;
    opacity: .8;
    font-size: 27px;
}
    
    #sidr-show-hide {
    position: absolute;
    z-index: 4;
    left: .5em;
    top: .2em;
    color: white;
    font-size: 3.5em;
    opacity: .8;
}
    
    #city {
    position: absolute;
    top: 1.5em;
    right: 40%;
    font-size: 83px;
    letter-spacing: 16px;
}
    
    .today {
    position: absolute;
    top: 6.6em;
    border: none;
    right: 43%;
    font-size: 30px;
}
    
    h3 {
    position: absolute;
    top: 18em;
    font-size: 37px;
    right: 23%;
}
    
    section i:first-child {
    top: 120px;
    right: 53%;
    font-size: 46em;
    color: snow;
}
    
    h1 {
    font-size: 6em;
    top: 3em;
    right: 14%;
}
    
 .day1 {
    position: absolute;
    top: 6em;
    right: 20.8em;
    font-size: 2.3em;
    letter-spacing: 12px;
}
    
    .day2 {
    top: 5.5em;
    right: 8em;
}
    
    .day3 {
      top: 5.5em;
    right: -133px;
}


}